{% load static %}
<div class="comment">
    <div class="post-title">
        {% if comment.author.profile.avatar.name %}
            <img src="{{ comment.author.profile.avatar.url }}" class="post-author-img img-thumbnail">
        {% else %}
            <img src="{% static 'img/user.jpg' %}" class="post-author-img img-thumbnail">
        {% endif %}
        <div class="comment-body">
            <a href="{% url 'view_user' comment.author.username %}">
                <span class="comment-author">{{ comment.author.get_full_name }}</span>
            </a>
            {{ comment.text|default_if_none:""|urlize }}
            <div class="post-datetime">
                {{ comment.datetime|date:"d M Y H:i" }}
            </div>
        </div>
    </div>
</div>